{{> header}}

<div class="container mt-5">
    <div class="row align-items-center" id="perfil-publico">
        <!-- Columna para los datos -->
        <div class="col-md-8" id="perfil-usuario">
            <h1>Perfil de {{user.nombre}}</h1>
            <p><strong>Correo:</strong> {{user.email}}</p>
            <p><strong>Rol:</strong> {{user.roles}}</p>
            <p><strong>Edad:</strong> {{user.edad}}</p>
        </div>

        <!-- Columna para la imagen -->
        <div class="col-md-4 text-center">
            <img src="/users/images/{{user.id}}" alt="Foto de perfil" class="img-thumbnail rounded-circle"
                style="width: 200px; height: 200px; object-fit: cover;" />
        </div>
    </div>
</div>

{{> footer}}
