{{> header}}

<div class="container mt-5" id="config-menu">
  <h1 class="text-center mb-4" id="config-menu">Configuración</h1>
  <hr class="my-4 lineas" />

  <!-- Configuración de colores -->

  <h5 class="card-title" id="config-subtitle">Configuración de colores</h5>

  <div class="d-flex justify-content-start" id="colorbtns-container">
    <button class="btn colorbtn bluepurple mr-3" aria-label="Azul a Morado" data-gradient="bluepurple"></button>
    <button class="btn colorbtn redyellow mr-3" aria-label="Rojo a Amarillo" data-gradient="redyellow"></button>
    <button class="btn colorbtn greenTurquoise" aria-label="Verde a Turquesa" data-gradient="greenTurquoise"></button>
  </div>
  <hr class="my-4 lineas" />

  <!-- Información de contacto -->
   
  <div id="contacto-info" class="text-center mt-5">
    <h5 class="mb-3">¿Necesitas ayuda?</h5>
    <p class="mb-1">Puedes contactarnos al siguiente correo:</p>
    <p><strong><a href="mailto:smartplaysoporte@gmail.com
      ">smartplaysoporte@gmail.com
    </a></strong></p>
  </div>

</div>

{{> footer}}