{{>header}}

<!-- Main Content -->

<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center mb-4 position-relative">
    <a href="/creacion" class="btn btn-secondary position-start">Volver</a>

    <h1 class="mb-0 mx-auto">Selecciona tu ficha de actividades</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">

    <!-- Card 1: Ahorcado -->

    <div class="col" >
      <a href="/ahorcado" class="card h-100 text-white text-decoration-none navbar-custom">
        <div class="card-body" id="card-ahorcado">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">Explora actividades como palabras ocultas y adivinanzas.</p>
        </div>
      </a>
    </div>

    <!-- Card 2: Sopa de Letras -->

    <div class="col" >
      <a href="/sopa" class="card h-100 text-white text-decoration-none navbar-custom">
        <div class="card-body" id="card-sopa">
          <h5 class="card-title">Sopa de Letras</h5>
          <p class="card-text">Busca y selecciona palabras escondidas.</p>
        </div>
      </a>
    </div>

    <!-- Card 3: Crucigrama -->
     
    <div class="col" >
      <a href="/crucigrama" class="card h-100 text-white text-decoration-none navbar-custom">
        <div class="card-body" id="card-crucigrama">
          <h5 class="card-title">Crucigrama</h5>
          <p class="card-text">Completa crucigramas interactivos.</p>
        </div>
      </a>
    </div>
  </div>
</div>

{{>footer}}
