{{> header}}

<!-- Main Content -->
<div class="container mt-4 flex-grow-1 d-flex align-items-center justify-content-center">
  <div class="w-100">
      <div class="d-flex justify-content-start mb-4">
    <a href="/" class="btn btn-secondary">Volver</a>
    </div>
  <!-- Categories -->
  <div class="card-deck mt-5">
    <!-- Card 1: Registrar -->
    <div class="card mb-3 shadow-sm" id="register-menu">
      <img src="/images/generalImages/REGISTRAR.png" class="card-img-top" alt="Registrar" />
      <div class="card-body navbar-custom">
        <h5 class="card-title " >Registrarse</h5>
        <a href="/signup" class="stretched-link"></a>
      </div>
    </div>

    <!-- Card 2: Iniciar Sesión -->
    <div class="card mb-3 shadow-sm" id="login-menu">
      <img src="/images/generalImages/INICIOSESION.png" class="card-img-top" alt="Iniciar Sesión" />
      <div class="card-body navbar-custom">
        <h5 class="card-title" >Iniciar Sesión</h5>
        <a href="/signin" class="stretched-link"></a>
      </div>
    </div>
  </div>
  </div>

</div>


{{> footer}}
