{{> header}}

<!-- Main Content -->
<div class="container flex-grow-1 d-flex justify-content-center align-items-center mt-4">
  <div class="w-100">
    <!-- Volver Button -->
    <div class="d-flex justify-content-start mb-4">
      <a href="/juegos" class="btn btn-secondary">Volver</a>
    </div>

    <!-- Categorías -->
    <div class="card-deck justify-content-center">
      <!-- Card 1: Crear Juego Ahorcado -->
      <div class="card mb-3 shadow-sm" id="card-crear-ahorcado">
        <img src="/images/generalImages/CREARAHORCADO.png" class="card-img-top" alt="Crear Juego Ahorcado" />
        <div class="card-body navbar-custom">
          <h5 class="card-title">Crear Juego Ahorcado</h5>
          <a href="/ahorcado/crear" class="stretched-link" title="Crear Juego Ahorcado"></a>
        </div>
      </div>

      <!-- Card 2: Ver Juegos Ahorcado -->
      <div class="card mb-3 shadow-sm" id="card-ver-ahorcado">
        <img src="/images/generalImages/CREARAHORCADO.png" class="card-img-top" alt="Ver Juegos Ahorcado" />
        <div class="card-body navbar-custom">
          <h5 class="card-title">Ver Juegos Ahorcado</h5>
          <a href="/ahorcado/listar" class="stretched-link" title="Ver Juegos Ahorcado"></a>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
