{{> header}}

<!-- Main Content -->
<div class="container flex-grow-1 d-flex justify-content-center align-items-center mt-4">
  <div class="w-100">
    <!-- Volver Button -->
    <div class="d-flex justify-content-start mb-4">
      <a href="/creacion" class="btn btn-secondary">Volver</a>
    </div>

    <!-- Categorías -->
    <div class="card-deck justify-content-center">
      <div class="card mb-3 shadow-sm" id="crearFichasCard">
        <img src="/images/generalImages/CREARFICHAS.png" class="card-img-top" alt="Crear Fichas" />
        <div class="card-body navbar-custom">
          <h5 class="card-title">Crear Fichas</h5>
          <a href="/f/crearFichas" class="stretched-link"></a>
        </div>
      </div>
      <div class="card mb-3 shadow-sm" id="verFichasCard">
        <img src="/images/generalImages/CREARFICHAS.png" class="card-img-top" alt="Ver Fichas" />
        <div class="card-body navbar-custom">
          <h5 class="card-title">Ver Fichas</h5>
          <a href="/f/listarFichas" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
