{{> header}}

<!-- Main Content -->
 <div class="container mt-4 flex-grow-1 d-flex justify-content-center align-items-center">

  <div class="w-100">
  <!-- Volver Button -->
    <div class="d-flex justify-content-start mb-4">
    <a href="/" class="btn btn-secondary">Volver</a>
    </div>

  <!-- Categorias -->
  <div class="card-deck">
    <!-- Card 1: Fichas -->
    <div class="card mb-3 shadow-sm" id="panel-fichas">
      <img src="/images/generalImages/FICHAS.png" class="card-img-top" alt="Fichas" />
      <div class="card-body navbar-custom">
        <h5 class="card-title" id="">Fichas</h5>
        <a href="/fichas" class="stretched-link"></a>
      </div>
    </div>

    <!-- Card 2: Juegos -->
    <div class="card mb-3 shadow-sm" id ="panel-juegos">
      <img src="/images/generalImages/JUEGOS.png" class="card-img-top" alt="Juegos" />
      <div class="card-body navbar-custom">
        <h5 class="card-title" id="">Juegos</h5>
        <a href="/juegos" class="stretched-link"></a>
      </div>
    </div>

    <!-- Card 3: Cuadernos -->

    <div class="card mb-3 shadow-sm" id ="panel-cuadernos">
      <img src="/images/generalImages/CUADERNOS.png" class="card-img-top" alt="Cuaderno" />
      <div class="card-body navbar-custom">
        <h5 class="card-title" id="">Cuadernos</h5>
        <a href="/Cuadernos" class="stretched-link"></a>
      </div>
    </div>
  </div>
  </div>

</div>

{{> footer}}